.index__container > img {
  display: block;
  width: 54%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 5px 20px -10px;
}
@media (max-width: 1400px) {
  .index__container > img {
    width: 61%;
  }
}
@media (max-width: 1200px) {
  .index__container > img {
    width: 90%;
  }
}