.video__container {
  width: 1316px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  line-height: 0px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 20px -10px;
}
.video__iframe {
  float: left;
  width: 1066px;
  height: 600px;
}
.video__playlist {
  float: right;
  width: 250px;
  height: 600px;
  overflow: auto;
}
.video__playlist > a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: nanum gothic;
  font-size: 14px;
  text-indent: 20px;
  text-decoration: none;
  color: white;
  transition: background .2s, color .2s;
}
@media (hover: hover) {
  .video__playlist > a:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
.video__active {
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 1380px) {
  .video__container {
    width: 1022px;
    height: 434px;
  }
  .video__iframe {
    width: 772px;
    height: 434px;
  }
  .video__playlist {
    height: 434px;
  }
}
@media (max-width: 1085px) {
  .video__container {
    width: 100%;
    height: initial;
    border-radius: 0px;
  }
  .video__iframe {
    float: none;
    width: 100vw;
    height: 56.25vw;
  }
  .video__playlist {
    float: none;
    width: 100%;
    height: initial;
  }
  .video__playlist > a {
    text-indent: 0px;
    text-align: center;
  }
}
